{% extends 'layout.twig' %}

{% block title %}CookieApp | Fika for the win{% endblock %}
{% block navigation %}
  {% include 'navigation.twig' with { 'active': 'home' } %}
{% endblock %}
{% block content %}
  <h1 class="title is-1">Welcome!</h1>

  {% if cookie %}
    <img src="{{ cookie['image']}}"/>
    <h2 class="subtitle"><strong>{{ cookie['name']}}</strong> (week {{ cookie['date'] | date('W')}})</h2>
  {% else %}
    <p>Sorry no cookie available. </p>
  {% endif %}

{% endblock %}
