<div class="container">
  <div class="nav-left">
    <a class="nav-item" href="{{ path_for('home') }}">
      <p>CookieApp</p>
    </a>
  </div>
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>
  <div class="nav-right nav-menu">
    <a class="nav-item{% if active == 'home'%} is-active{% endif %}" href="{{ path_for('home') }}">
      Home
    </a>
    <a class="nav-item{% if active == 'api'%} is-active{% endif %}" href="{{ path_for('api-info') }}">
      API
    </a>
  </div>
</div>
